/*!!!!!!!!-----------hidden menu-----------!!!!!!!!*/
.menu-container {
    position: relative;
  font-family: "Open Sans", sans-serif;
  z-index: 999;
  background: #333;
    width: 200px;
    left: -200px;
    line-height: 75px;
    
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}
  
.menu-container.menu-open {
    position:relative;
    margin-left: 335px;
}

.toggle-menu {
    position: relative;
    float: left; 
  height: 20px;
  padding: 5px 5px;
  background: #000 ;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
    z-index: 23;
}
  .toggle-menu .icon-bar {
    height: 3px;
    display: block;
    width: 30px;
    opacity: 1;
    background: #fff;
    margin-bottom: 5px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; 
  }
  
/*.toggle-menu.active {
    left: 400px; 
} */

    .toggle-menu .icon-bar:last-child {
      margin-bottom: 0; 
    }
    .toggle-menu .icon-bar.hide-closed {
      transition-duration: 0.4s; 
    }
  .toggle-menu.active {
    padding-top: 13px; 
    height:30px;
      box-sizing:border-box;

  }
    .toggle-menu.active .icon-bar {
      margin-bottom: -3px; 
    }
    .toggle-menu.active .skew-clock {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); 
    }
    .toggle-menu.active .hide-closed {
      opacity: 0 !important; 
    }
    .toggle-menu.active .skew-counter {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); 
    }

.menu-text {
    font-family: "Open Sans", sans-serif;
    float: left;
    left: 0px;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
}

/*-------------- LEFT FIELD ------------------*/
        #reklam{
            position: relative;
            float: left;
            width: 100%;
        }

             #reklam .slide-item {
                height: 20%;
                width: inherit;
                float: left;
                margin: 0 0px 5px;
                border: 1px #2c5987 solid;
            }

                 #reklam .slide-item img{
                    height: 85%;
                    width: 100%;
                }

         #reklam .slide-title,
         #reklam .slide-price,
         #reklam .slide-buy{
            width: 100%;
            box-sizing: border-box;
            height: auto;
            /* Шрифт */
            font: bold 16px monospace;
            /* Указываем, что элемент блочный */
            display: block;
            border: 1px #2c5987 solid;
        }

         #reklam .slide-title{
            border-top: 2px #2c5987 solid;
        }

/*----------- ANIMATION IN HEAD PART OF PAGE, AFTER ROW MENU -----------------*/
 /*   #head_of_body{
        position: relative;
        float: left;
        width: 85%;
        height: 400px;
    }*/

        .reklam_animation{
            box-sizing: content-box;
            position: relative;
            float: left;
            width: 69%;
            height: 450px;
            margin: 0 auto 0;
            padding: 0 5px 0;
            overflow: hidden;
        }

        #rigt_of_reklam_animation{
            box-sizing: content-box;
            position: relative;
            float: left;
            width: 15%;
            height: 450px;
        }

        .rigt_of_reklam_animation_position{
            position: absolute;
            margin: 155px 0;
            height: 31%;
            width: 100%;
        }

        .rigt_of_reklam_animation_position:first-child{
            top: 0;
            margin: 0;
        }

       .rigt_of_reklam_animation_position:last-child{
            bottom: 0;
            margin: 0;
        }

            .rigt_of_reklam_animation_position a{
                display: block;
                width: inherit;
                height: 100%;
                color: white;
                border: 1px blue solid;
            }

                .rigt_of_reklam_animation_position a img{
                    width: inherit;
                    height: 100%;
                }
/*------------- Категории товаров*----------------*/
    #goods{
        position: relative;
        box-sizing: content-box;
        float: left;
        width: 69%;
        margin: 5px auto 0;
        padding: 0 5px 0;
        z-index: 5;
       /* border: 2px #666 solid;*/
        box-sizing: content-box;
    }

        .categories_of_goods{
            position: relative;
            width: 100%;
            height: 300px;
            margin: 0 0 10px;
/*          border: 1px green solid; */
        }

            .description_slider{
                box-sizing: content-box;
                width: 199px;
                margin: 0 auto;
                padding: 0 0px;
                position: relative;
                float: left;
                /* Скроем то что выходит за границы */
                overflow: hidden;
                height: inherit;
                border: 1px solid #2c5987;
            }

                .description_slider label{
                    width: 100%;
                    display: table-cell;
                    text-align: center; 
                    vertical-align: middle;
                    background: #2c5987;
                    color: white;
                    padding: 5px 0px;
                    font-size: 1em;
                    position: relative;
                    float: left;
                    /* Скроем то что выходит за границы */
                    overflow: hidden;
                }

                .body_description{
                    position: relative;
                    width: 100%;
                }

                .body_description ul {
                    position: relative;
                    width: 100%;
                }
                .body_description ul li a{
                    display: block;
                    width: 100%;
                    border-bottom: 1px #2c5987 solid;
                    padding: 5% 5% 0 5%;
                }
 /*-----------------------  карусель  -------------------------*/       
        /* Все что ниже для галереи которую можно перелистывать*/
        /* Задаем сброс обтекания */

       .clear1, .clear2, .clear3, .clear4, .clear5, .clear6, .clear7{
            margin-top: -1px;
            height: 1px;
            clear:both;
            zoom: 1;
        }		

        .slider1, .slider2, .slider3, .slider4, .slider5, .slider6, .slider7 {
            box-sizing: content-box;
            width: 78%;
            margin: 0 auto;
            padding: 0 0px;
            position: relative;
            float: right;
            height: 100%;
            border: 1px #2c5987 solid;
            border-left: 1px transparent solid;
            overflow: hidden;
        }

        /* Двойной клик по ссылкам вперед/назад вызывает выделение всех элементов слайдера,
        поэтому предотвращаем это */

        .slider1::-moz-selection, .slider2::-moz-selection, .slider3::-moz-selection, .slider4::-moz-selection, .slider5::-moz-selection, .slider6::-moz-selection, .slider7::-moz-selection {
            background: transparent;
            color: #fff;
            text-shadow: none;
        }

        .slider1::selection, .slider2::selection, .slider3::selection, .slider4::selection, .slider5::selection, .slider6::selection, .slider7::selection {
            background: transparent;
            color: #fff;
            text-shadow: none;
        }

        .slide-list1, .slide-list2, .slide-list3, .slide-list4, .slide-list5, .slide-list6, .slide-list7 {
            height: 90%;
            position: relative;
        }

        .slide-wrap1, .slide-wrap2, .slide-wrap3, .slide-wrap4, .slide-wrap5, .slide-wrap6, .slide-wrap7 {
            height: 100%;
            position: absolute;
            margin: 0% 0 0 0;
            left: 21px;
            top: 0;
            right: 21px;
            /* максимально возможная ширина обертки слайдера */
          /*  width: 100%;*/
        }

        .slide-item1, .slide-item2, .slide-item3, .slide-item4, .slide-item5, .slide-item6, .slide-item7 {
            position: relative;
            height: 100%;
            width: 224px;
            float: left;
            border: 1px #2c5987 solid;
        }

        .slide-item1 img, .slide-item2 img, .slide-item3 img, .slide-item4 img, .slide-item5 img, .slide-item6 img, .slide-item7 img {
            height: 200px;
            width: inherit;
        }

        .slide-title1,
        .slide-title2,
        .slide-title3,
        .slide-title4,
        .slide-title5,
        .slide-title6,
        .slide-title7,
        .slide-price1,
        .slide-price2,
        .slide-price3,
        .slide-price4,
        .slide-price5,
        .slide-price6,
        .slide-price7,
        .slide-buy1,
        .slide-buy2,
        .slide-buy3,
        .slide-buy4,
        .slide-buy5,
        .slide-buy6,
        .slide-buy7{
            width: 100%;
            box-sizing: border-box;
            height: auto;
            /* Шрифт */
            font: bold 16px monospace;
            /* Указываем, что элемент блочный */
            display: block;
            border: 1px #2c5987 solid;
        }

        .slide-title1, .slide-title2, .slide-title3, .slide-title4, .slide-title5, .slide-title6, .slide-title7{
            border-top: 2px #2c5987 solid;
        }

        .slide-buy1, .slide-buy2, .slide-buy3, .slide-buy4, .slide-buy5, .slide-buy6, .slide-buy7{
            border-bottom: 2px #2c5987 solid;
        }

        .slide-buy1. .slide-buy-button1, .slide-buy2. .slide-buy-button2, .slide-buy3. .slide-buy-button3, .slide-buy4. .slide-buy-button4, .slide-buy5. .slide-buy-button5, .slide-buy6. .slide-buy-button6, .slide-buy7. .slide-buy-button7{
            position: relative;
            left: 80px;
        }

        /* навигация вперед/назад */
        .navy1, .navy2, .navy3, .navy4, .navy5, .navy6, .navy7 {
            position: absolute;
            top: 0;
            z-index: 1;
            height: 100%;
            width: 20px;
            cursor: pointer;
        }

        .prev-slide1, .prev-slide2, .prev-slide3, .prev-slide4, .prev-slide5, .prev-slide6, .prev-slide7 {
            left: 0;
            background: #2c5987 url(../bg/left-arrow.png) 8px 40% no-repeat;
        }

        .next-slide1, .next-slide2, .next-slide3, .next-slide4, .next-slide5, .next-slide6, .next-slide7 {
            right: 0;
            background: #2c5987 url(../bg/right-arrow.png) 8px 40% no-repeat;
        }

 /*       .navy1.disable1, .navy2.disable2, .navy3.disable3, .navy4.disable4, .navy5.disable5, .navy6.disable6, .navy7.disable7 {
            background: white;
        }*/

        /* навигация старт/пауза */
        .auto1, .auto2, .auto3, .auto4, .auto5, .auto6, .auto7 {
            width: 7px;
            height: 10%;
            margin: 0 0 1%;
            cursor: pointer;
            margin: 0px auto;
        }

        .play1, .play2, .play3, .play4, .play5, .play6, .play7 {
            height: 10%;
            background: url(../bg/play.png) center no-repeat;
        }

        .pause1, .pause2, .pause3, .pause4, .pause5, .pause6, .pause7 {
            height: 10%;
            background: url(../bg/pause.png) center no-repeat;
        }


/*--------------------------- RIGHT FIELD ---------------------*/
    .right_field{
        box-sizing: content-box;
        position: relative;
        float: left;
        width: 15%;
        height: 800px;
    }

        .right_field .slide-item {
             height: 20%;
            width: 100%;
            float: left;
            margin: 2% 0px;
            border: 1px blue solid;
        }

            .right_field .slide-item img{
                height: 85%;
                width: 100%;
            }

        .right_field .slide-title{
            height: 15%;
            /* Шрифт */
            font: bold 16px monospace;
            /* Указываем, что элемент блочный */
            display: block;
            margin-top: -7px;
            border: 1px blue solid;
        }
/*---------------- footer -----------------------*/
#footer { 
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    background: #2c5987;    
    clear:both;
}