body { 
    width: 100%;
    font: 1em/1.4em sans-serif;
    padding: 0;
    margin: 0;
 /*   overflow-x: hidden;*/
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*!!!!!!!!-----------hidden menu-----------!!!!!!!!*/
.menu-container {
    position: relative;
  font-family: "Open Sans", sans-serif;
  z-index: 999;
  background: #333;
    width: 200px;
    left: -200px;
    line-height: 75px;
    
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
}
  
.menu-container.menu-open {
    position:relative;
    margin-left: 335px;
}

.toggle-menu {
    position: relative;
    float: left; 
  height: 20px;
  padding: 5px 5px;
  background: #000 ;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
    z-index: 23;
}
  .toggle-menu .icon-bar {
    height: 3px;
    display: block;
    width: 30px;
    opacity: 1;
    background: #fff;
    margin-bottom: 5px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; 
  }
  
/*.toggle-menu.active {
    left: 400px; 
} */

    .toggle-menu .icon-bar:last-child {
      margin-bottom: 0; 
    }
    .toggle-menu .icon-bar.hide-closed {
      transition-duration: 0.4s; 
    }
  .toggle-menu.active {
    padding-top: 13px; 
    height:30px;
      box-sizing:border-box;

  }
    .toggle-menu.active .icon-bar {
      margin-bottom: -3px; 
    }
    .toggle-menu.active .skew-clock {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); 
    }
    .toggle-menu.active .hide-closed {
      opacity: 0 !important; 
    }
    .toggle-menu.active .skew-counter {
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); 
    }

.menu-text {
    font-family: "Open Sans", sans-serif;
    float: left;
    left: 0px;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
}

/*-------------- LEFT FIELD ------------------*/
        #reklam{
            position: relative;
            float: left;
            width: 100%;
/*          border-top: 2px #666 solid;*/
            height: 900px;
        }

             #reklam .slide-item {
                height: 20%;
                width: inherit;
                float: left;
                margin: 0 0px 5px;
                border: 1px blue solid;
            }

                 #reklam .slide-item img{
                    height: 85%;
                    width: 100%;
                }

             #reklam .slide-title{
                height: 15%;
                /* Шрифт */
                font: bold 16px monospace;
                /* Указываем, что элемент блочный */
                display: block;
                margin-top: -7px;
                border: 1px blue solid;
            }

/*----------- ANIMATION IN HEAD PART OF PAGE, AFTER ROW MENU -----------------*/
 /*   #head_of_body{
        position: relative;
        float: left;
        width: 85%;
        height: 400px;
    }*/

        .reklam_animation{
            box-sizing: content-box;
            position: relative;
            float: left;
            width: 69%;
            height: 450px;
            margin: 0 auto 0;
            padding: 0 5px 0;
            overflow: hidden;
        }

        #rigt_of_reklam_animation{
            box-sizing: content-box;
            position: relative;
            float: left;
            width: 15%;
            height: 450px;
        }

        .rigt_of_reklam_animation_position{
            position: absolute;
            margin: 155px 0;
            height: 31%;
            width: 100%;
        }

        .rigt_of_reklam_animation_position:first-child{
            top: 0;
            margin: 0;
        }

       .rigt_of_reklam_animation_position:last-child{
            bottom: 0;
            margin: 0;
        }

            .rigt_of_reklam_animation_position a{
                display: block;
                width: inherit;
                height: 100%;
                color: white;
                border: 1px blue solid;
            }

                .rigt_of_reklam_animation_position a img{
                    width: inherit;
                    height: 100%;
                }
/*------------- Категории товаров*----------------*/
    #goods{
        position: relative;
        box-sizing: content-box;
        float: left;
        width: 69%;
        margin: 5px auto 0;
        padding: 0 5px 0;
        z-index: 5;
       /* border: 2px #666 solid;*/
        box-sizing: content-box;
    }

        .categories_of_goods{
            position: relative;
            width: 100%;
            height: 275px;
            margin: 0 0 10px;
/*          border: 1px green solid; */
        }

            .description_slider{
                box-sizing: content-box;
                width: 21%;
                margin: 0 auto;
                padding: 0 0px;
                position: relative;
                float: left;
                /* Скроем то что выходит за границы */
                overflow: hidden;
                height: inherit;
                border: 1px solid #2c5987;
            }

                .description_slider label{
                    width: 100%;
                    display: table-cell;
                    text-align: center; 
                    vertical-align: middle;
                    background: #2c5987;
                    color: white;
                    padding: 5px 0px;
                    font-size: 1em;
                    position: relative;
                    float: left;
                    /* Скроем то что выходит за границы */
                    overflow: hidden;
                }

                .body_description{
                    position: relative;
                    width: 100%;
                }

                .body_description ul {
                    position: relative;
                    width: 100%;
                }
                .body_description ul li a{
                    display: block;
                    width: 100%;
                    border-bottom: 1px #2c5987 solid;
                    padding: 5% 5% 0 5%;
                }
 /*-----------------------  карусель  -------------------------*/       
        /* Все что ниже для галереи которую можно перелистывать*/
        /* Задаем сброс обтекания */

        .clear, .clear1, .clear2, .clear3 {
            margin-top: -1px;
            height: 1px;
            clear:both;
            zoom: 1;
        }		

        .slider, .slider1, .slider2, .slider3 {
            box-sizing: content-box;
            width: 78%;
            margin: 0 auto;
            padding: 0 0px;
            position: relative;
            float: right;
            overflow: hidden;
            height: 100%;
            border: 1px #2c5987 solid;
            border-left: 1px transparent solid;
        }

        /* Двойной клик по ссылкам вперед/назад вызывает выделение всех элементов слайдера,
        поэтому предотвращаем это */

        .slider::-moz-selection, .slider1::-moz-selection, .slider2::-moz-selection, .slider3::-moz-selection {
            background: transparent;
            color: #fff;
            text-shadow: none;
        }

        .slider::selection, .slider1::selection, .slider2::selection, .slider3::selection {
            background: transparent;
            color: #fff;
            text-shadow: none;
        }

        .slide-list, .slide-list1, .slide-list2, .slide-list3 {
            height: 90%;
            position: relative;
        }

        .slide-wrap, .slide-wrap1, .slide-wrap2, .slide-wrap3 {
            height: 90%;
            position: relative;
            margin: 0% 0 0 0;
            left: 32px;
            top: 0;
            /* максимально возможная ширина обертки слайдера */
           /* width: 100%;*/
        }

        .slide-item, .slide-item1, .slide-item2, .slide-item3 {
            position: ;
            height: 100%;
            width: 173px;
            margin: 0 5px;
            float: left;
            border: 1px #2c5987 solid;
        }

        .slide-item img, .slide-item1 img, .slide-item2 img, .slide-item3 img {
            height: 100px;
            width: 100px;
        }

        .slide-title, .slide-title1, .slide-title2, .slide-title3,.slide-price {
            box-sizing: border-box;
            height: 15%;
            /* Шрифт */
            font: bold 16px monospace;
            /* Указываем, что элемент блочный */
            display: block;
            border: 1px #2c5987 solid;
        }

        /* навигация вперед/назад */
        .navy, .navy1, .navy2, .navy3 {
            position: absolute;
            top: 0;
            z-index: 1;
            height: 100%;
            width: 5%;
            cursor: pointer;
        }

        .prev-slide, .prev-slide1, .prev-slide2, .prev-slide3 {
            left: 0;
            background: #2c5987 url(../bg/left-arrow.png) 13px 40% no-repeat;
        }

        .next-slide, .next-slide1, .next-slide2, .next-slide3 {
            right: 0;
            background: #2c5987 url(../bg/right-arrow.png) 13px 40% no-repeat;
        }

        .navy.disable, .navy1.disable1, .navy2.disable2, .navy3.disable3 {
            background: white;
        }

        /* навигация старт/пауза */
        .auto, .auto1, .auto2, .auto3 {
            width: 7px;
            height: 10%;
            margin: 0 0 1%;
            cursor: pointer;
            margin: -5px auto;
        }

        .play, .play1, .play2, .play3 {
            height: 10%;
            background: url(../bg/play.png) center no-repeat;
        }

        .pause, .pause1, .pause2, .pause3 {
            height: 10%;
            background: url(../bg/pause.png) center no-repeat;
        }


/*--------------------------- RIGHT FIELD ---------------------*/
    .right_field{
        box-sizing: content-box;
        position: relative;
        float: left;
        width: 15%;
        height: 800px;
    }

        .right_field .slide-item {
             height: 20%;
            width: 100%;
            float: left;
            margin: 2% 0px;
            border: 1px blue solid;
        }

            .right_field .slide-item img{
                height: 85%;
                width: 100%;
            }

        .right_field .slide-title{
            height: 15%;
            /* Шрифт */
            font: bold 16px monospace;
            /* Указываем, что элемент блочный */
            display: block;
            margin-top: -7px;
            border: 1px blue solid;
        }
/*---------------- footer -----------------------*/
#footer { 
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    background: #2c5987;    
    clear:both;
}